<header class="site-header">
  <!<img src="https://brand.ncsu.edu/assets/logos/ncstate-type-2x2-red.png"  alt="{{ main.everydaysecurity | default: everydaysecurity.main | default: everydaysecurity.github.everydaysecurity }}" class="everydaysecurity" width="240" height="120" style="float:left" />
  <h2 class="everydaysecurity">{{ page.description }}</h2>
  
  <a class="site-title" style="font-size:50px;" rel="author" href="https://everydaysecurity.github.io/everydaysecurity/">{{ site.title | escape }}</a>
  
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  </div>
</header>
